{% extends 'base.html' %}
{% block content %}

      <div class="main">
        
        <section class="module bg-dark-30" data-background="{{ url_for('static', filename='images/gradient.jpg') }}">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt mb-0">Client Portal</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
                <h4 class="font-alt">Login</h4>
                <hr class="divider-w mb-10">
                <form class="form" action="{{ url_for('login') }}" method="POST">
                  {{ form.hidden_tag() }}  <!-- CSRF token -->
                  
                  <div class="form-group">
                      {{ form.username.label }} <!-- Label for the username -->
                      {{ form.username(class="form-control", placeholder="Username") }} <!-- Username input field -->
                  </div>
                  
                  <div class="form-group">
                      {{ form.password.label }} <!-- Label for the password -->
                      {{ form.password(class="form-control", placeholder="Password") }} <!-- Password input field -->
                  </div>
                  
                  <div class="form-group">
                      <button class="btn btn-round btn-b" type="submit">Login</button>
                  </div>
                  
                  <div class="form-group">
                      <a href="#">Forgot Password?</a>
                  </div>
              </form>
              
              
              </div>
              <div class="col-sm-5">
                <img src="{{ url_for('static', filename='images/loginsplash.jpg') }}" alt="Portfolio Item" />
            </div>
          </div>
        </section>
       
{% endblock %}